@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Sen:wght@400..800&display=swap');

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 80px;
}

.forsidebillede{
  position: relative;
  text-align: center;
}

#coverbillede {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(80%);
}

.text-block {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  width: 100%;
  /*height: 100%;*/
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFFCF5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-family: Sen;
  font-weight: 900;
  line-height: 130%;
}

.sidepanel a:hover {
  color: #F6C65D;
}

#shopping-bag {
  margin-top: 10px;
}

#shopping-bag a {
  color: #000;
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

#shopping-bag a:hover {
  color: #F6C65D;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #F6C65D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFFCF5;
  padding: 10px 15px;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
}

.openbtn:hover {
  background-color: #000;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #FFFCF5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
  text-align: left;
  padding-left: 32px;
}

.dropdown-content a {
  color: #F6C65D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > a {
  color: #F6C65D;
}

body {
  /*padding: 0;*/
  margin: 0;
  background-color: #FFFCF5;
}

main {
  margin: auto;
}

.billede1container{
  padding: 30px 90px;
  max-width: 90%;
}

.billede-1{
  /*display: flex;
  justify-content: center;
  width: 1364px;
  height: 279px;
  flex-shrink: 0;*/
  display: block;
  width: 100%;
  /*height:auto;*/
  /*max-height: auto;*/
  height: 650px;
  margin: 20px 0;
}

.button-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #ffffff;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-family: Sen;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  background-color: #F6C65D;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 130px;
  padding: 20px 0;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  /*border: 1px solid #ccc;
  border-radius: 8px;*/
  overflow: hidden;
  background-color: #F5CA6D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0;
  font-family: Sen;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-content p{
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rating{
  padding: 10px;
  margin: 10px;
}

.rating i {
  color: #FFEB3B;
  font-size: 24px;
}

.priskurvelike{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-family: Sen;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  
}

/*.fa-heart{
  color: #fff;
}*/

.fa-heart:hover {
  color: crimson;
}

.fa-bag-shopping:hover{
  color:#FFFCF5;
}


.adresser-section {
  background-color: #F9D484;
  padding: 20px;
  text-align: center;
}

.adresser-section h2 {
  color: #000000;
  font-family: "Roboto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.adresser-container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  gap: 40px;
  padding: 20px 10px;
  margin: 20px 0;
}

.lok {
  font-size: 24px;
  font-family: Sen;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lok p {
  margin: 5px 0;
}

/*footer section*/

.footer {
  background-color: #F6C65D;
  color: #000;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #000;
  font-family: Sen;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  color: #000;
  font-family: Sen;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ffffff;
}

.footer-section p {
  margin: 0;
  line-height: 1.6;
  color: #000;
  font-family: Sen;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #000;
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  /*border-top: 1px solid #ddd;*/
}

.footer-bottom p {
  margin: 0;
  color: #000;
  font-family: Sen;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer .logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .logo-section img {
  /*max-width: 100%;
  height: auto;*/
  width:200px;
  height:130px;
  margin-top: 20px;
}

/* -----Responsive styles-------- */
/*skærmestørrelser 800px og under*/
@media (max-width: 800px) {
  .text-block {
    font-size: 43px; /* Adjust font size for tablets and smaller devices */
    width: 100%;
    height: auto; /* Change height to auto to fit the content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }

  .billede1container{
    max-width: 100%;
    padding: 30px;
}

  .billede-1{
    width: 100%;
    height: auto;
    margin:0;
  }

  .slider-container {
    margin: 13px;
    padding: 20px 0;
    /*width: 100%;*/
  }

  /*.slider-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0 130px;
    padding: 20px 0;
  }*/

  .card {
    width: 237px;
    margin-right: 20px;
  }
  
  .card-content h3 {
    font-size: 20px;
  }
  
  .card-content p{
    font-size: 16px;
  }

  .rating i {
    font-size: 22px;
  }
  
  .priskurvelike{
    font-size: 22px;
  }

  .priskurvelike p{
    font-size: 20px;
  }

  .adresser-section h2 {
    font-size: 28px;
  }
  
  .lok {
    font-size: 22px;
  }

  .footer-container {
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
  }

  .footer-section {
    margin: 10px 0;
    text-align: left;
  }
  .social-icons {
    justify-content: center;
  }
  .footer-section ul {
    font-size: 18px;
  }
  .footer-section h3 {
    font-size: 24px;
  }
  .footer-section p {
    font-size: 18px;
  }
}

/*skærmestørrelser 500px og under*/
@media (max-width: 500px) {
  .text-block {
    font-size: 35px; /* Adjust font size for mobile devices */
    padding: 10px; /* Add some padding if needed */
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: auto; /* Change height to auto to fit the content */
  }

  .btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 18px;
  }

  .slider-container{
    margin: 66px;
  }

  .adresser-section h2 {
    font-size: 22px;
  }
  
  .lok {
    font-size: 16px;
  }
  
  .footer-section ul {
    font-size: 16px;
  }
  .footer-section h3 {
    font-size: 20px;
  }
  .footer-section p {
    font-size: 16px;
  }
  .social-icons a {
    font-size: 20px;
  }
  .footer .logo-section img {
    width: 150px;
    height: auto;
  }
}