@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Sen:wght@400..800&display=swap');

#logo {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Position it to the left */
  width:120px;
  height:80px;
}

#coverbillede{
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  /*padding-bottom: 7%;*/ 
  /*background: rgba(0, 0, 0, 0.37); /* Optional: to darken the image*/ 
  filter: brightness(80%); /* Darken the image */
}

.text-block{
    /*position:absolute;
    bottom:85px;
    color:#ffffff;*/
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #FFFCF5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: Sen;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}
  
.sidepanel a:hover {
    color:#F6C65D;
}
  
#shopping-bag {
    margin-top: 10px;
}
  
#shopping-bag a {
    color: #000;
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s;
}
  
#shopping-bag a:hover {
    color:#F6C65D;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #F6C65D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:#FFFCF5;
    padding: 10px 15px;
    border: none;
    position: fixed; /* Ensure the button stays in place */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Position it to the right */
}
  
.openbtn:hover {
    background-color:#000000;
}
  
.dropdown-content {
    display: none;
    position: relative;
    background-color: #FFFCF5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    text-align: left;
    padding-left: 32px;
}
  
.dropdown-content a {
    color: #F6C65D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #000000;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover > a {
    color: #F6C65D;
}


  
body{
    padding: 0;
    margin: 0;
    /*background-color:#FFFCF5;*/
  }
  
  /*Content sections*/

main{
    margin:0;
    /*padding: 90px 150px;
    max-width: 90%;*/
}

.topsection{
    padding: 30px 150px;
    max-width: 90%;
    background-color:#FFFCF5;
}
.topsection p{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
}

h2{
    color: #F6C65D;
    font-family: "Roboto Serif";
    font-size: 29px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.billede-1{
    /*display: flex;
    justify-content: center;
    width: 1364px;
    height: 279px;
    flex-shrink: 0;*/
    display: block;
    width: 100%;
    /*height:auto;*/
    /*max-height: auto;*/
    height: 279px;
    margin: 20px 0;
    padding: 20px;
}

.flex{
    /*width: 100%;*/
    margin: 0 auto;
    /*padding: 20px;*/
    display: flex;
    justify-content: flex-start;
    padding: 20px 150px;
    max-width: 100%;
    background-color:#FFFCF5;
}

.billede2-flex{
    display: block;
    width: 40%;
    height:fit-content;
    margin: 20px 0;
}

.billede3-flex{
    display: block;
    width: 40%;
    height:auto;
    margin: 20px 0;
}

h3{
    color: #F6C65D;
    font-family: "Roboto Serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /*text-align: center;*/
}

.section2-flex p{
    width: 60%;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */

}

.section3-flex p{
    width: 60%;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
}

li{
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
}

#row1{
    flex-direction: row;
    
}

#row2{
    flex-direction: row;
    gap: 100px;
}

/*#column1{
    align-items: center;
}

#column2{
    align-items: center;
}*/

.lasttext{
    padding: 20px 150px;
    max-width: 90%;
    background-color:#FFFCF5;
}

.lasttext p{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
}


/* Slideshow container */
.comments{
    padding: 80px 150px;
    max-width: 90%;
    background-color:#F9D484;
}

.comments h2{
    color: #000000;
    font-family: "Roboto Serif";
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}

.slideshow-container {
    position: relative;
    background: #ffffff;
}
  
.rating span {
    color: #F6C65D;
    font-size: 24px;
}

.customer-avatar {
    width: 60px;
    height: 60px;
    background-color: #B4D55E;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sen;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 45%;
}

.mySlides q{
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

h4{
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.author{
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}


  /* Slides */
.mySlides {
    display: none;
    padding: 30px;
    text-align: center;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #101010;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #bbb;
    color: #101010;
}
  
  /* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #F9D484;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  /* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #101010;
}
  
  /* Add an italic font style to all quotes */
q {font-style: normal;}
  
  /* Add a blue color to the author */
.author {color: rgb(0, 0, 0);}


/*footer section*/

.footer {
    background-color: #F6C65D;
    color: #000;
    padding: 20px 0;
}
  
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
}
  
.footer-section {
    flex: 1;
    margin: 10px;
}
  
.footer-section h3 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.footer-section ul {
    list-style-type: none;
    padding: 0;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.footer-section ul li {
    margin-bottom: 5px;
}
  
.footer-section ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}
  
.footer-section ul li a:hover {
    color: #ffffff;
}
  
.footer-section p {
    margin: 0;
    line-height: 1.6;
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.social-icons {
    margin-top: 10px;
}
  
.social-icons a {
    color: #000;
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s;
}
  
.social-icons a:hover {
    color: #ffffff;
}
  
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    /*border-top: 1px solid #ddd;*/
}
  
.footer-bottom p {
    margin: 0;
    color: #000;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.footer .logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer .logo-section img {
    /*max-width: 100%;
    height: auto;*/
    width:200px;
    height:130px;
    margin-top: 20px;
}

