#logo {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Position it to the left */
  width:120px;
  height:80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#coverbillede{
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-bottom: 7%;  
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFFCF5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidepanel a:hover {
  color:#F6C65D;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #F6C65D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color:#FFFCF5;
  padding: 10px 15px;
  border: none;
  position: fixed; /* Ensure the button stays in place */
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Position it to the right */
}

.openbtn:hover {
  background-color:#000000;
}