@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Sen:wght@400..800&display=swap');

#logo {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Position it to the left */
  width:120px;
  height:80px;
}

#coverbillede{
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  /*padding-bottom: 7%;*/ 
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFFCF5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidepanel a:hover {
  color:#F6C65D;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #F6C65D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color:#FFFCF5;
  padding: 10px 15px;
  border: none;
  position: fixed; /* Ensure the button stays in place */
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Position it to the right */
}

.openbtn:hover {
  background-color:#000000;
}

/*Content sections*/

main{
  margin:0;
}

.section {
  padding: 20px;
}

.yellow-bg {
  background-color: #F9D484;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 123px;
  padding: 125px 25px;
}

.content img {
  max-width: 300px;
  width: 100%;
  height: fit-content;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  /*max-width: 777px;*/
}

.text h2 {
  margin: 0;
  color: #000;
  font-family: "Roboto Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text p {
  color: #000;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 46.8px */
}

.read-more {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: #000;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.read-more:hover {
  background-color:#F6C65D;
}

/*Instagram section*/
.white-bg {
  background-color: #FFFCF5;
  text-align: center;
}

.white-bg h2 {
  margin: 50px;
  color: #000;
  font-family: "Roboto Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.insta-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.insta-gallery img {
  /*max-width: 300px;*/
  /*width: 100%;*/
  max-width: 444.78px;
  max-height: 397px;
  /*max-height: 200px;*/
}
